# OS
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

# IDE and local environment
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
/.idea/

# Packages
/vendor/
/node_modules/
/bower_components/
npm-debug.log
yarn-error.log

# Distribution
/release/
